from shapely.geometry import LineString, MultiLineString, MultiPoint, Point  
from shapely.ops import cascaded_union  
from scipy.special import comb  
from itertools import product  
import scipy.stats as stats  
import matplotlib.pyplot as plt  
import matplotlib.patches as patches  
import math
import numpy as np  
from itertools import islice  
from cvxopt import matrix, solvers  
from cvxopt.base import sparse  
from cvxopt.base import matrix as m  
from cvxopt.lapack import *  
from cvxopt.blas import *  
import cvxopt.misc as misc  
#from pykrylov.symmlq import symmlq
#from pykrylov.symmlq import *
#from symmlq import *  
#import symmlq
import networkx as nx  
from itertools import islice, combinations  
from collections import Counter, defaultdict  
#from pykrylov.linop import PysparseLinearOperator
#from pykrylov.symmlq import *
import scipy
from scipy.sparse.linalg import *
from scipy.sparse import csc_matrix
from scipy.sparse.linalg import minres

import os.path
import time 
import os
import matplotlib.pyplot as plt
import random
from statistics import mean
from scipy.optimize import curve_fit
